<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site.title }}{% if page.title %} :: {% endif %}{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/css/styles.css" | relative_url }}">
  <link rel="shortcut icon" href="{{ "/images/favicon/favicon.ico" | relative_url }}">
  <link rel="icon" sizes="16x16 32x32 64x64" href="{{ "/images/favicon/favicon.ico" | relative_url }}">
  <link rel="icon" type="image/png" sizes="196x196" href="{{ "/images/favicon/favicon-192.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="160x160" href="{{ "/images/favicon/favicon-160.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "/images/favicon/favicon-96.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="64x64" href="{{ "/images/favicon/favicon-64.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/images/favicon/favicon-32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/images/favicon/favicon-16.png" | relative_url }}">
  <link rel="apple-touch-icon" href="{{ "/images/favicon/favicon-57.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "/images/favicon/favicon-114.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "/images/favicon/favicon-72.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "/images/favicon/favicon-144.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "/images/favicon/favicon-60.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/images/favicon/favicon-120.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "/images/favicon/favicon-76.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/images/favicon/favicon-152.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/images/favicon/favicon-180.png" | relative_url }}">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="{{ "/images/favicon/favicon-144.png" | relative_url }}">
  <meta name="msapplication-config" content="{{ "/browserconfig.xml" | relative_url }}">
  <style type="text/css">
    .top-logo { background-image: url("{{ "/images/top.jpg" | relative_url }}"); }
    .nav { background-image: url("{{ "/images/left.jpg" | relative_url }}"); }
    #local-img1 { background-image: url("{{ site.images.local1 | relative_url }}"); }
    #local-img2 { background-image: url("{{ site.images.local2 | relative_url }}"); }
    #springer-img { background-image: url("{{ "/images/springer.png" | relative_url }}"); }
  </style>
</head>
<body>
  <div class="all">
    <div class="content">
      <div class="top-logo">
        <div class="top-logo-abbrev">RC<span class="year">{{ site.year }}</span></div>
        <div class="top-logo-info">
          <span class="edition">{{ site.edition }} International Conference on</span><br />
          <span class="name">{{ site.title }}</span><br />
          <span class="date-place">{{ site.date }}, {{ site.place }}</span>
        </div>
      </div>

      <div class="main">
        <div class="nav">
          <nav>
            <ul>
              <li><a href="{{ "/" | relative_url }}">Home</a></li>
              <li><a href="{{ "/registration" | relative_url }}">Registration</a></li>
              <li><!--<a href="{{ "/accepted" | relative_url }}">-->Accepted Papers<!--</a>--></li>
              <li><a href="{{ "/invited" | reluative_url }}">Invited Talks</a></li>
              <li><!--<a href="{{ "/program" | reluative_url }}">-->Programme<!--</a>--></li>
              <li><a href="{{ "/cfp" | reluative_url }}">Call For Papers</a></li>
              <li><a href="{{ "/submission" | relative_url }}">Paper Submission</a></li>
              <li><a href="{{ "/pc" | relative_url }}">Programme Committee</a></li>
              <!--<li><a href="{{ "/location" | relative_url }}">Location</a></li>-->
              <!--<li><a href="{{ "/social" | relative_url }}">Social Event</a></li>-->
              <!--<li><a href="{{ "/accommodation" | reluative_url }}">Accommodation</a></li>-->
              <li><a href="{{ "/steering" | relative_url }}">Steering Committee</a></li>
              <li><a href="{{ "/previous" | relative_url }}">Previous Editions</a></li>
              <li><a href="{{ "/contact" | reluative_url }}">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="middle">
          {% if page.title %}<div class="title">{{ page.title }}</div>{% endif %}
          {% unless page.custom_heading %}<h1>{{ page.title }}</h1>{% endunless %}
          {{ content }}
        </div>
        <div class="right">
          <div id="local-imgs">
            <div class="local-img" id="local-img1"></div>
            <div class="local-img" id="local-img2"></div>
          </div>
          <div class="dates">
            <b>Important dates:</b><br/><br/>
            Abstract submission:<br/>
            March 14, 2021 <font color="#FF2800">(EXTENDED)</font><br/><br/>
            Submission deadline:<br/>
            March 21, 2021 <font color="#FF2800">(EXTENDED)</font><br/><br/>
            Notification to authors:<br/>
            April 24, 2021<br/><br/>
            Final version:<br/>
            May 12, 2021<br/><br/>
            Conference:<br/>
            July 7 - July 8, 2021<br/><br/>
          </div>
          <div class="organizers">
            <b>General Chair:</b><br/><br/>
            Shoji Yuen<br/>
            <i>Nagoya University, Japan</i><br/><br/>
            <b>Program Chairs:</b><br/><br/>
            Shigeru Yamashita<br/>
            <i>Ritsumeikan University, Japan</i><br/><br/>
            Tetsuo Yokoyama<br/>
            <i>Nanzan University, Japan</i>
          </div>
          <a href="http://www.springer.com/lncs" target="_blank"><div id="springer-img"></div></a>
        </div>
      </div>

      <div class="footer">
        <a href="{{ "/" | relative_url }}">Impress</a> | <a href="{{ "/contact" | relative_url }}">Contact</a>
      </div>
    </div>
  </div>
</body>
</html>
